@using AbstractFactory.DAL.Entities
@model List<Product>

<h1>Product List</h1>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Type</td>
                <td>@product.Price</td>
            </tr>
        }
    </tbody>
</table>
<a href="/Product/AddProduct">Add New Product</a>
