@using Factory.DAL.Entities
@model Product
@{
    ViewData["Title"] = "CreateProduct";
}

<h2>Product Created</h2>

<p>Product Type: @Model.ProductType</p>
<p>Name: @Model.Name</p>
<p>Price: @Model.Price</p>