@using DDD_DomainDriven.DAL

@{
    ViewData["Title"] = "Index";
}

@model List<Parcel>

<h2>Parcel List</h2>

<table class="table">
    <thead>
        <tr>
            <th>Tracking Number</th>
            <th>Customer</th>
            <th>Tracking Events</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var parcel in Model)
        {
            <tr>
                <td>@parcel.TrackingNumber</td>
                <td>@parcel.Customer.Name</td>
                <td>
                    @foreach (var value in parcel.TrackingEvents)
                    {
                        <p>@value.Status at @value.Location</p>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
